@media screen and (max-width: 1009px){
	.picpack {
    display: flex;
    flex-direction: column;
	float: left;
	}
	.coreinputs,.slider{
		display:none;
	}
	
	.block1,.block2,.block3,.block4,.block5,.block6,.block7,.block8,.block9,.block10,.block11,.block12,.block13,.block14,.block15,.block16,.block17,.block18,.block19,.block20,.block21,.block22,.block23,.block24,.block25,.block26,.block27,.block28{
	width: 60%;
	box-shadow: 0 0 15px rgba(0,0,0,.1);
	border-radius: 25px;
	padding: 10px;
    font-family: "Open Sans,sans-serif";
	resize: both;
}
	
.choose-menu ul{
	display:flex;
	flex-direction:row;
	resize: both;
	justify-content:space-between;
	float:left;
	position:static;
	margin-top: 15%;
	width: 75%;
	list-style-type:none;
	font-size:20px;
	font-family: "Open Sans,sans-serif";
}

.core{
	display: flex;
    flex-direction: column;
	}
}

.search{
	display:flex;
	flex-direction:row;
	padding: 30px 10px;
	
}

.title{
	width:100%;
	background-color:black;
	height:auto;
}

.title{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

.image img{
	height:60px;
	width:60px;
	margin-left:40px;
}

.navbar {
  overflow: hidden;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 5;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.order-right button{
	margin-top: 10px;
}

.order-left{
	margin-right: 30px;
}



#idblock1,#idblock2,#idblock3,#idblock4,#idblock5,#idblock6,#idblock7,#idblock8,#idblock9,#idblock10,#idblock11,#idblock12,#idblock13,#idblock14,#idblock15,#idblock16,#idblock17,#idblock18,#idblock19,#idblock20,#idblock21,#idblock22,#idblock23,#idblock24,#idblock25,#idblock26,#idblock27,#idblock28{
	display:none;
}

.navbar a:hover,subnav:hover .subnavbtn{
	background-color:red;
}

.subnav:hover .subnav-content{
	display:block;
}



.minorblock{
	display:none;
}

.minorblock{
	margin-left:50px;
}

.priceconfirm{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

.subnav-content{
	display:none;
}

.order{
	display:flex;
	flex-direction:row;
}

.order-left{
	display:flex;
	flex-direction:column;
}

.order-img{
	display:flex;
	flex-direction:row;
}

.order-img i,.order-img p{
	color:white;
	z-index:2;
}

.order-img i{
	margin-top:10px;
	margin-left:5px;
}

.initials{
	display:flex;
	justify-content:space-between;
}

.regbar{
	display:flex;
	flex-direction:column;
	max-width:1000px;
	display:none;
}

.regbar-button{
	margin:0 auto;
}

#rtelephone:invalid,#regbar-name:invalid{
	background-color:red;
}

#rtelephone:valid,#regbar-name:valid{
	background-color:green;
}

.contactdata{
	display:flex;
	flex-direction:column;

	display:none;
}

.img1 img,.img2 img,.img3 img,.img4 img,.img5 img,.img6 img,.img7 img,.img8 img,.img9 img,.img10 img,.img11 img,.img12 img,.img13 img,.img14 img,.img15 img,.img16 img,.img17 img,.img18 img,.img19 img,.img20 img,.img21 img,.img22 img,.img23 img,.img24 img,.img25 img,.img26 img,.img27 img,.img28 img{
	float:left;
	padding: 30px;
    border-radius: 45px;
    text-align: center;
	width: 80%;
	
}

@media screen and (min-width: 1010px){

.block1,.block2,.block3,.block4,.block5,.block6,.block7,.block8,.block9,.block10,.block11,.block12,.block13,.block14,.block15,.block16,.block17,.block18,.block19,.block20,.block21,.block22,.block23,.block24,.block25,.block26,.block27,.block28{
	width: 30%;
	box-shadow: 0 0 15px rgba(0,0,0,.1);
	border-radius: 25px;
	padding: 10px;
    font-family: "Open Sans,sans-serif";
	resize: both;
}



.coreinputs{
	width:auto;
	display:block;
	z-index:2;
	position:absolute;
	left:50%;
}



.core .slider{
	max-height: 506px;
    max-width: 1320px;
}

.img3,.img4,.img5,.img6{
	
}

.choose-menu{
	max-width: 1200px;
}

.choose-menu ul{
	display:flex;
	flex-direction:row;
	resize: both;
	justify-content:space-between;
	float:left;
	position:static;
	margin-top: 50%;
	width: 95%;
	list-style-type:none;
	font-size:20px;
	font-family:"Open Sans,sans-serif";
}

form input{
	margin-left:10px;
	border-radius: 20px;
	width:200px;
}

.choose-menu ul li a{
	text-decoration: none;
}

.image-tabs{
resize: both;
}


.picpack{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	float:left;
	position:static;
}


.slider img{
	position:absolute;
	width:100%;
}
}


.submitbutton button{
	    transition: all .3s;
    color: #fff;
    border: none;
    border-radius: 15px;
    background: #e31837;
	height: 50px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans,sans-serif";
}


.order-right button{
	color: #f8f8f8;
    border: none;
    border-radius: 25px;
    width: 100px;
	height:40px;
    font-size: 14px;
    font-weight: 700;
	    background: #e31837;
}


#phone1,#phone2,#phone3,#email{
	text-decoration:none;
	color:red;
}

#email{
	text-decoration:none;
	color:rgb(48, 190, 230);
}

.classcrumbs{
	display:flex;
	flex-direction:row;
	resize: both;
	float:left;
	position:static;
	width: 95%;
	padding-left:3%;
	font-size:20px;
	font-family:"Open Sans,sans-serif";
}



#table1{
	font-family:"Open Sans,sans-serif";
	
}





#rowid:nth-child(odd){
	background-color:rgb(6, 128, 125);
}

#rowid:nth-child(even){
	background-color:rgb(4, 83, 117);
}



#tdid{
	padding:10px;
}

.gal1{
	
}

.gal1 img{
    width: 40%;
    padding-left: 30%;
}

.gal2 img{
	width:20%;
	justify-content:space-between;
	padding-left:50px;
}

.galery{
	display:none;
}

.logclass{
	
	text-align: center;
	display:none;
}

.innerlog{
	display:flex;
	flex-direction:column;
}

#crossid{
	    padding-left: 50%;
    bottom: 35px;
    position: relative;
	
}


.logclass input{
	    margin-left: 40%;
    width: 30%;
    margin-top: 3%;
}

#buttonlogformid,#buttonregformid{
	margin-left: 52%!important;
	width: 10%!important;
}


#ShowHistory{
	display:none;
}

#LogOut{
	display:none;
}
